.body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F6FA;
}

.add-admin-content {
  margin-left: 390px;
  padding-top: 70px;
}

.add-admin-header {
  display: flex;
  justify-content: space-between;
  margin: 0 90px;
  position: relative;
}

.add-admin-header {
  font-size: 1.5rem;
  padding-left: 45px;
}

.add-admin-return-btn {
  text-decoration: none;
  color: black;
}

.addAdmin-form-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, .05);
  display: flex;
  margin: 50px 0 0 90px; 
  padding: 60px;
  position: relative;
  width: 1000px; 
}

.addAdmin-form-left {
  height: 100%;
  width: 50%
}

.addAdmin-form-right {
  height: 100%;
  width: 50%;
  margin-bottom: auto;
  margin-left: 50px;
}

.lbl-add-admin {
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.input-add-admin {
  display: block;
  border-radius: 5px;
  border: 1px solid #808080;
  height: 55px;
  width: 440px;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 0 15px;
}

.input-add-admin:nth-of-type(6) {
  margin-bottom: 0; 
}

.add-admin-select { 
  height: 50px;
  width: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  margin-top: -20px;
  margin: -20px 0 15px 0;
}

.input-file-profPic {
  font-size: 1.1rem;
  margin: 5px 0 0 0;
}

.add-admin-img-preview {
  margin: 25px 0 20px 0;
}

.add-admin-pic-preview {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.btn-submit-admin {
  width: 220px;
  height: 70px;
  background-color: #ffff66;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  outline: none;
  position: absolute;
  bottom: 80px;
  right: 60px;
}

.btn-submit-admin:hover {
  background-color: #fdfd84;
  transform: translateY(-2px);
  transition: .2s ease-in;
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {
  
}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
}

/* 1360 x 768 */
@media screen and (max-width: 1360px) {
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
}