.adoptions-table {
  margin: 50px 105px 0 105px;
  border-collapse: collapse;
}

/* 
    table head color
    bg - rgb(248, 248, 248)
    text - rgb(164, 166, 172) 
*/

.adoptions-table-row {
  background-color: rgb(248, 248, 248);
}

.adoptions-row-head {
  color: rgb(164, 166, 172);
  height: 50px;
  width: 230px;
  font-size: 1.45rem;
}

.adoptions-table-body-row {
  height: 100px;
}

.adoptions-row-body {
  padding: 10px 15px;
  font-size: 1.2rem;
}

.adoptions-row-center {
  text-align: center;
}

.adoptions-row-body-actions {
  margin: 0 auto;
}

.adoptions-body-view-btn {
  padding: 8px 15px;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  cursor: pointer;
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {
  .adoptions-row-head {
    width: 200px;
    font-size: 1.2rem;
  }

  .adoptions-row-body {
    font-size: 1rem;
  }

  .adoptions-body-view-btn {
    font-size: .95rem;
    padding: 9px 18px;
  }
}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
  .adoptions-row-head {
    font-size: 1.15rem;
  }

  .adoptions-row-body {
    font-size: .85rem;
  }

  .adoptions-body-view-btn {
    font-size: .85rem;
    padding: 6px 15px;
  }
}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  .adoptions-row-head {
    font-size: 1.05rem;
  }

  .adoptions-row-body {
    font-size: .8rem;
  }

  .adoptions-body-view-btn {
    font-size: .8rem;
    padding: 6px 18px;
  }
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
  .adoptions-row-head {
    font-size: .97rem;
  }

  .adoptions-row-body {
    font-size: .75rem;
  }

  .adoptions-body-view-btn {
    font-size: .75rem;
  }
}