* {
  margin: 0;
  padding: 0;
}

.login-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

.leftpaw {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 500px;
  z-index: -1;
  overflow: hidden;
}

.rightpaw {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 500px;
  z-index: -1;
  overflow: hidden;
}

.login-left-column {
  height: 100%;
  width: 50%;
}

.login-right-column {
  height: 100%;
  width: 50%;
}

.login-form {
  height: 720px;
  width: 520px;
  background-color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, .05);
  margin: 150px auto 0 auto;
  padding-top: 60px;
  border: .5px solid #ededed;
  border-radius: 5px;
}

.login-header {
  display: flex;
  align-items: center;
  margin: 0 0 70px 55px;
  font-size: 19px;
  font-weight: 700;
}

.login-header-img {
  height: 34px;
  width: 28px;
  margin: 5px 7px 0 0;
}

.login-label {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 0 50px;
}

.login-input:focus {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
}

.login-input {
  margin: 5px 50px 0 50px;
  padding: 0 12px;
  height: 55px;
  width: 390px;
  font-size: 18px;
  font-weight: 200;
  background-color: #f3f5f9;
  border: 3px solid #f1f3f7;
  border-radius: 5px;
}

.login-input.username-input {
  margin-bottom: 40px;
}

.btn-login {
  position: relative;
  height: 85px;
  width: 420px;
  background-color: #111;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: .2s ease-in;
  margin: 170px auto 0 auto;
  padding-left: 55px;
  font-size: 30px;
  font-weight: 600;
}

.btn-login-icon {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 20px;
  left: 120px;
}

.btn-login:hover {
  opacity: .95;
  transform: translateY(-1px);
}

.login-right-column {
  height: 100%;
  width: 50%;
}

.right-column-header {
  font-size: 80px;
  position: relative;
  margin: 180px 0 0 30px;
}

.right-column-sup {
  font-size: 40px;
  position: absolute;
  top: -2px;
}

.right-column-subHeader {
  font-size: 32px;
  font-weight: 200;
  word-spacing: 3px;
  margin: -20px 0 20px 30px;
}

.right-column-vector {
  height: 611px;
  width: 688px;
  margin: 0 auto 0 auto;
  -webkit-user-drag: none;
}

@media screen and (max-width: 1919px) {
  .leftpaw {
    height: 400px;
    width: 400px;
  }

  .rightpaw {
    height: 500px;
    width: 500px;
  }

  .login-form {
    height: 570px;
    width: 400px;
    margin: 130px auto 0 auto;
    padding-top: 40px;
  }

  .login-header {
    margin: 0 0 70px 35px;
  }

  .login-label {
    margin: 0 0 0 35px;
    font-size: 1.25rem;
  }

  .login-input {
    margin: 5px 0 0 35px;
    width: 300px;
    height: 45px;
    font-size: .95rem;
  }

  .btn-login {
    height: 65px;
    width: 330px;
    margin: 140px auto 0 auto;
  }

  .btn-login-icon {
    height: 40px;
    width: 40px;
    top: 13px;
    left: 80px;
  }

  .right-column-header {
    font-size: 4rem;
    margin: 130px 0 0 25px;
  }

  .right-column-subHeader {
    font-size: 1.75rem;
    margin: -15px 0 20px 25px;
  }

  .right-column-vector {
    height: 475px;
    width: 575px;
  }
}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
  .leftpaw {
    height: 350px;
    width: 350px;
  }

  .rightpaw {
    height: 440px;
    width: 440px;
  }

  .login-form {
    height: 540px;
    width: 380px;
    margin: 130px auto 0 auto;
    padding-top: 40px;
  }

  .login-header {
    margin: 0 0 70px 30px;
  }

  .login-header-img {
    height: 30px;
    width: 30px;
  }

  .login-header-text { 
    font-size: .95rem;
  }

  .login-label {
    font-size: 1.15rem;
    margin: 0 0 0 30px;
  }

  .login-input {
    margin: 5px 0 0 30px;
    height: 42px;
    width: 290px;
    font-size: .9rem;
  }

  .btn-login {
    width: 320px;
    height: 63px;
    margin: 130px 30px 0 30px;
    padding-left: 40px;
  }

  .btn-login-icon {
    top: 14px;
    left: 75px;
    height: 35px;
    width: 35px;
  }

  .right-column-header {
    font-size: 3.3rem;
    margin: 120px 0 20px 0;
  }

  .right-column-sup {
    font-size: 2rem;
  }

  .right-column-subHeader {
    font-size: 1.5rem;
    margin: -25px 0 20px 0;
  }

  .right-column-vector {
    height: 420px;
    width: 520px;
  }
}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  .leftpaw {
    height: 300px;
    width: 300px;
  }

  .rightpaw {
    height: 390px;
    width: 390px;
  }

  .login-form {
    height: 480px;
    margin: 150px auto 0 auto;
    width: 327px;
    padding-top: 30px;
  }

  .login-header {
    margin: 0 0 60px 30px;
  }

  .login-header-img {
    height: 23px;
    width: 23px;
  }

  .login-header-text {
    font-size: .9rem;
  }

  .login-label {
    font-size: 1rem;
    margin: 0 0 0 30px;
  }

  .login-input {
    margin: 5px 0 0 30px;
    padding: 0 10px;
    height: 38px;
    width: 245px;
    font-size: .8rem;
    font-weight: 100;
  }

  .btn-login {
    margin: 108px 30px 0 30px;
    width: 270px;
    height: 55px;
    font-size: 1.45rem;
    padding-left: 35px;
  }

  .btn-login-icon {
    height: 30px;
    width: 30px;
    top: 12px;
    left: 65px;
  }
  
  .right-column-header {
    margin: 140px 0 0 0;
  }

  .right-column-subHeader {
    margin: -15px 0 20px 0;
  }

  .right-column-vector {
    height: 400px;
    width: 490px;
  }
}
/* 1024 x 768 */
@media screen and (max-width: 1024px) {
  .login-form {
    height: 400px;
    width: 285px;
    margin: 150px auto 0 auto;
  }

  .login-header {
    margin: 0 0 40px 30px;
  }

  .login-header-text {
    font-size: .65rem;
  }

  .login-label {
    font-size: .85rem;
  }

  .login-label.password {
    display: block;
    margin-top: -5px;
    width: 1000%;
    margin-bottom: -22px;
  }

  .login-input {
    height: 33px;
    width: 205px;
  }

  .btn-login {
    margin: 80px 30px 0 30px;
    width: 235px; 
    height: 48px;
    font-size: 1.25rem;
    padding-left: 30px;
  }

  .btn-login-icon {
    height: 27px;
    width: 27px;
    top: 9.5px;
    left: 53px;
  }

  .right-column-header {
    font-size: 2.4rem;
    margin: 150px 0 0 0;
  }

  .right-column-sup {
    font-size: 1.4rem;
  }

  .right-column-subHeader {
    margin: -5px 0 20px 0;
    font-size: 1.2rem;
  }

  .right-column-vector {
    height: 320px;
    width: 420px;
  }
}
