.strayAnimalReport-body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F6FA;
  position: relative;
}

.strayAnimalReport-content {
  margin-left: 390px;
  padding-top: 80px;
}

.listOfReports-container {
  margin: 40px 90px 30px 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.strayReport {
  height: 185px;
  width: 410px;
  background-color: white;
  border-radius: 5px;
  transition: .1s ease-in;
}

.strayReport:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, .05);
}


/* .reportContainer {
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  height: 150px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
} */

.reportContainer {
  background-color: #fff;
  border-bottom: 1px solid #b0b0b0;
  cursor: pointer;
  padding-top: 30px;
  transition: .15s ease-in;
}

.reportContainer:hover {
  background-color: #fefeef;
}

.reportContainer-date {
  margin: 0 0 5px 15px;
  padding-left: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.reportContainer-message {
  height: 25px;
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 1.4rem;
}

.reportContent {
  width: 70%;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25);
}

.specificReport-header,
.specificReport-image-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.specificReport-header {
  margin-top: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

.specificReport-description {
  font-size: 1.4rem;
  margin: 0 80px;
}

.specificReport-image-header {
  margin-top: 70px;
  margin-right: 80px;
  margin-left: 80px;
}

.specificReport-image {
  height: 400px;
  width: 500px;
  margin-left: 80px;
  -webkit-user-drag: none;
}

.dismiss-report-btn {
  display: block;
  margin: 140px auto 0 auto;
  padding: 15px 25px;
  font-size: 2rem;
  font-weight: 600;
  background-color: red;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dismiss-report-btn:hover {
  background-color: rgb(255, 65, 65);
}

.no-report-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-content: center;
}

.no-report-text {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  margin-top: 400px;
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {

}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {

}

/* 1360 x 768 */
@media screen and (max-width: 1360px) {

}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
  
}