.body-update {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.update-content {
  margin-left: 500px;
  z-index: 1;
}

/* .update-data-header{ 
  margin: 70px 0 50px 105px;
  font-size: 2.8rem;
  font-weight: 700;
  width: 373px;
  border-bottom: 1px solid #b0b0b0;
}

.update-data-sub {
  margin: -30px 0 0 105px;
  font-size: 1.7rem;
  font-weight: 300;
} */

.tabPages-container {
  margin: 120px 50px 0 105px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b0b0b0;
  border-bottom-width: fit-content;
}

.active-tab {
  background-color: #111;
  width: fit-content;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  border: none;
  transition: 0.2s ease-in-out;
  color: white;
}

.inactive-tab {
  width: fit-content;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  border: 1px solid #111;
  transition: 0.2s ease-in-out;
  color: #111;
}

.update-tab {
  margin-right: 5px;
}

.updateData-form-container {
  display: flex;
  margin-right: 50px;
}

.update-data-left-column {
  width: 50%;
}

.update-data-right-column {
  width: 50%;
}

.lbl-update {
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 105px;
  font-weight: 500;
}

.lbl-name {
  margin-top: 50px;
}

.input-update-data {
  width: 70%;
  height: 45px;
  margin: 10px 0 20px 105px;
  font-size: 1.2rem;
  padding: 0px 10px;
}

.updateDesc {
  width: 70%;
  height: 250px;
  margin: 10px 0 20px 105px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  padding: 7px 10px;
}

.updateColor {
  width: 35%;
  height: 45px;
  margin: 10px 0 20px 105px;
  font-size: 1.2rem;
  padding: 0px 10px;
}

.select {
  width: 120px;
  height: 40px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  margin: 0 0 25px 10px;
}

.imgUploadContainer {
  display: flex;
  margin-top: 10px;
}

.lbl-imgUpload {
  margin: 45px 0 40px 0;
}

.update-imgUpload {
  margin: 50px 0 0 15px;
  font-size: 1.1rem;
}

.update-img-preview-txt {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.update-img-preview {
  width: 490px;
  height: 440px;
  margin: 5px 0 0 0;
  -webkit-user-drag: none;
  aspect-ratio: 1 / 1;
}

.btn-update {
  width: 200px;
  height: 60px;
  background-color: #ffef3d;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 100px;
  margin-right: -70px;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #faeb4b;
  transform: translateY(-2px);
  transition: 0.2s ease-in;
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {
  .update-content {
    margin-left: 370px;
  }

  .active-tab, .inactive-tab {
    font-size: 1.35rem;
  }

  .updateData-form-container {
    margin-right: 0;
  }

  .lbl-update {
    font-size: 1.25rem;
  }

  .lbl-name {
    margin-top: 70px;
  }

  .input-update-data {
    width: 65%;
  }

  .updateDesc {
    width: 65%;
  }

  .imgUploadContainer {
    margin-top: 30px;
  }

  .update-img-preview-txt {
    font-size: 1.25rem;
  }

  .update-img-preview {
    height: 400px;
    width: 450px;
  }
}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
  .update-content {
    margin-left: 340px;
  }

  .tabPages-container {
    margin: 95px 50px 0 105px;
  }

  .active-tab, .inactive-tab {
    font-size: 1.1rem;
    padding: 12px;
  }

  .lbl-update {
    font-size: 1.1rem;
  }

  .lbl-name {
    margin-top: 50px;
  }

  .input-update-data {
    height: 40px;
    font-size: 1rem;
  }

  .updateDesc {
    font-size: 1rem;
    padding: 10px;
  }

  .imgUploadContainer {
    margin-top: 10px;
  }

  .update-imgUpload {
    margin: 45px 0 0 20px;
  }

  .update-img-preview-txt {
    font-size: 1.1rem;
  }

  .update-img-preview {
    height: 300px;
    width: 350px;
  }

  .btn-update {
    font-size: 1.35rem;
    width: 170px;
  }
}

/* 1360 x 768 */
@media screen and (max-width: 1360px) {
  
}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  .update-content {
    margin-left: 295px;
  }

  .tabPages-container {
    padding-bottom: 10px;
  }

  .active-tab, .inactive-tab {
    font-size: .95rem;
    padding: 10px;
  }

  .lbl-update {
    font-size: .95rem;
  }

  .input-update-data {
    height: 33px;
    width: 60%;
    margin: 5px 0 10px 105px;
    font-size: .9rem;
  }

  .updateDesc {
    height: 180px;
    width: 60%;
    font-size: .89rem;
  }

  .update-imgUpload {
    font-size: .8rem;
    margin: 47px 0 0 20px;
  }

  .update-img-preview-txt {
    font-size: .95rem;
  }

  .update-img-preview {
    height: 250px;
    width: 300px;
  }

  .btn-update {
    font-size: 1.2rem;
    height: 50px;
    width: 150px;
  }
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
  .update-content {
    margin-left: 250px;
  }

  .active-tab, .inactive-tab {
    font-size: .85rem;
    padding: 9px;
  }

  .lbl-update {
    font-size: .9rem;
  }

  .input-update-data {
    height: 29px;
    width: 58%;
    font-size: .85rem;
  }

  .updateDesc {
    width: 58%;
    font-size: .8rem;
  }

  .update-imgUpload {
    font-size: .75rem;
  }

  .update-img-preview {
    height: 250px;
    width: 300px;
  }
}